smart-farm-system/node-red/flows.json
[
    {
        "id": "mqtt_broker_aws",
        "type": "mqtt-broker",
        "name": "AWS IoT Core",
        "broker": "a2ybxz5mrpnfww-ats.iot.ap-northeast-2.amazonaws.com",
        "port": "8883",
        "tls": "tls_aws",
        "clientid": "MyFarmPi_01_nodered",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "birthQos": "0",
        "closeQos": "0",
        "willQos": "0",
        "birthPayload": "",
        "closePayload": "",
        "willPayload": "",
        "birthMsg": {},
        "closeMsg": {},
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "tls_aws",
        "type": "tls-config",
        "name": "AWS IoT TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "/home/lhk/certs/certificate.pem.crt",
        "keyname": "/home/lhk/certs/private.pem.key",
        "caname": "/home/lhk/certs/AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },

    {
        "id": "f1_tab",
        "type": "tab",
        "label": "센서 수집",
        "disabled": false,
        "info": "센서 수집 플로우 - 2초 간격으로 센서 데이터를 읽어 Express에 전달"
    },
    {
        "id": "f1_comment",
        "type": "comment",
        "z": "f1_tab",
        "name": "센서 수집 플로우 - 2초 간격으로 센서 데이터를 읽어 Express에 전달",
        "info": "센서 데이터를 2초 간격으로 읽어서 RPi Express 내부 API(/internal/sensor-update)에 전달합니다.\n실배포 시 Modbus/GPIO 노드로 교체해야 합니다.",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "f1_inject",
        "type": "inject",
        "z": "f1_tab",
        "name": "2초 간격 트리거",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            ["f1_read_sensor"]
        ]
    },
    {
        "id": "f1_read_sensor",
        "type": "function",
        "z": "f1_tab",
        "name": "센서 읽기",
        "func": "// 센서 데이터 읽기 (시뮬레이션)\n// 실배포 시 Modbus/GPIO로 교체\n\nfunction randomInRange(min, max) {\n    return Math.round((Math.random() * (max - min) + min) * 100) / 100;\n}\n\nvar sensorData = {\n    ec: randomInRange(0.5, 3.0),\n    ph: randomInRange(5.0, 8.0),\n    outdoor_temp: randomInRange(10, 35),\n    indoor_temp: randomInRange(15, 35),\n    substrate_temp: randomInRange(10, 25),\n    solar_radiation: randomInRange(0, 1000),\n    supply_flow: randomInRange(0, 100),\n    drain_flow: randomInRange(0, 50),\n    co2_level: randomInRange(300, 1000),\n    drain_ec: randomInRange(0.3, 3.5),\n    drain_ph: randomInRange(5.0, 8.0),\n    humidity: randomInRange(40, 95),\n    water_temp: randomInRange(10, 30),\n    dissolved_oxygen: randomInRange(5.0, 12.0)\n};\n\n// 센서 데이터를 글로벌 컨텍스트에 저장 (경보 처리에서 사용)\nglobal.set('latest_sensor_data', sensorData);\n\nmsg.payload = sensorData;\nmsg.headers = { 'Content-Type': 'application/json' };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            ["f1_http_req"]
        ]
    },
    {
        "id": "f1_http_req",
        "type": "http request",
        "z": "f1_tab",
        "name": "POST sensor-update",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/sensor-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 140,
        "wires": [
            ["f1_debug"]
        ]
    },
    {
        "id": "f1_debug",
        "type": "debug",
        "z": "f1_tab",
        "name": "센서 업데이트 응답",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.statusCode",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },

    {
        "id": "f2_tab",
        "type": "tab",
        "label": "장비 상태 수집",
        "disabled": false,
        "info": "장비 상태를 Flow Context에서 읽어 Express에 전달"
    },
    {
        "id": "f2_comment",
        "type": "comment",
        "z": "f2_tab",
        "name": "장비 상태를 Flow Context에서 읽어 Express에 전달",
        "info": "장비(밸브, 펌프, 믹서) 상태를 Flow Context에서 읽어 5초 간격으로 Express 내부 API에 전달합니다.\n관수 시퀀스 플로우에서 상태를 업데이트하면 이 플로우가 자동으로 반영합니다.",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2_inject",
        "type": "inject",
        "z": "f2_tab",
        "name": "5초 간격 트리거",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            ["f2_read_status"]
        ]
    },
    {
        "id": "f2_read_status",
        "type": "function",
        "z": "f2_tab",
        "name": "상태 읽기",
        "func": "// 장비 상태를 Flow Context에서 읽기\n// 관수 시퀀스 및 수동 제어에서 상태가 업데이트됨\n\nvar VALVE_COUNT = 14;\n\n// 기본값 설정\nvar defaultValveStates = [];\nfor (var i = 0; i < VALVE_COUNT; i++) {\n    defaultValveStates.push(false);\n}\n\nvar operatingState = global.get('operating_state') || 'STOPPED';\nvar activeProgram = global.get('active_program') || null;\nvar valveStates = global.get('valve_states') || defaultValveStates;\nvar pumpState = global.get('pump_state') || { raw_pump: false, nutrient_pump: false };\nvar mixerState = global.get('mixer_state') || false;\n\nmsg.payload = {\n    operating_state: operatingState,\n    active_program: activeProgram,\n    valve_states: valveStates,\n    pump_state: pumpState,\n    mixer_state: mixerState\n};\n\nmsg.headers = { 'Content-Type': 'application/json' };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            ["f2_http_req"]
        ]
    },
    {
        "id": "f2_http_req",
        "type": "http request",
        "z": "f2_tab",
        "name": "POST status-update",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/status-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 140,
        "wires": [
            ["f2_debug"]
        ]
    },
    {
        "id": "f2_debug",
        "type": "debug",
        "z": "f2_tab",
        "name": "상태 업데이트 응답",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.statusCode",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },

    {
        "id": "f3_tab",
        "type": "tab",
        "label": "관수 스케줄러",
        "disabled": false,
        "info": "3가지 트리거(일사량/시간간격/고정시간)를 10초 간격으로 확인"
    },
    {
        "id": "f3_comment",
        "type": "comment",
        "z": "f3_tab",
        "name": "3가지 트리거(일사량/시간간격/고정시간)를 10초 간격으로 확인",
        "info": "관수 프로그램의 트리거 조건을 10초 간격으로 확인합니다.\n1. 일사량 기반: 누적 일사량이 설정값 이상\n2. 시간 간격 기반: 마지막 관수 후 설정 시간 경과\n3. 고정 시간 기반: 설정된 시작 시간 도래\n요일 조건도 함께 확인합니다.",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "f3_inject",
        "type": "inject",
        "z": "f3_tab",
        "name": "10초 간격 트리거 확인",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            ["f3_get_programs"]
        ]
    },
    {
        "id": "f3_get_programs",
        "type": "http request",
        "z": "f3_tab",
        "name": "GET programs",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/programs",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 140,
        "wires": [
            ["f3_check_trigger"]
        ]
    },
    {
        "id": "f3_check_trigger",
        "type": "function",
        "z": "f3_tab",
        "name": "트리거 확인",
        "func": "// 관수 프로그램 트리거 조건 확인\n// 3가지 트리거: 일사량, 시간간격, 고정시간\n// DB 필드: is_active, day_of_week, solar_threshold, interval_minutes, schedule_times\n\nvar response = msg.payload;\nvar programs = (response && response.data) ? response.data : response;\nif (!programs || !Array.isArray(programs)) {\n    node.warn('프로그램 목록을 가져올 수 없습니다: ' + JSON.stringify(msg.payload));\n    return [null, msg];\n}\n\nvar now = new Date();\nvar currentDay = now.getDay(); // 0=일, 1=월, ..., 6=토\nvar currentHour = now.getHours();\nvar currentMinute = now.getMinutes();\nvar currentTimeStr = ('0' + currentHour).slice(-2) + ':' + ('0' + currentMinute).slice(-2);\n\n// 현재 운영 상태 확인\nvar operatingState = global.get('operating_state') || 'STOPPED';\nif (operatingState === 'EMERGENCY' || operatingState === 'IRRIGATING') {\n    return [null, { payload: '현재 상태: ' + operatingState + ' - 트리거 건너뜀' }];\n}\n\nvar sensorData = global.get('latest_sensor_data') || {};\nvar accumulatedSolar = global.get('accumulated_solar') || 0;\n\n// 누적 일사량 계산 (10초 간격이므로 일사량 * 10/3600 적산)\nif (sensorData.solar_radiation) {\n    accumulatedSolar += sensorData.solar_radiation * (10 / 3600);\n    global.set('accumulated_solar', accumulatedSolar);\n}\n\nvar triggeredProgram = null;\n\nfor (var i = 0; i < programs.length; i++) {\n    var program = programs[i];\n    \n    // 프로그램 활성화 여부 확인 (DB: is_active)\n    if (!program.is_active) continue;\n    \n    // 요일 확인 (DB: day_of_week = '1111111' 문자열, 인덱스 0=일~6=토)\n    if (program.day_of_week && typeof program.day_of_week === 'string') {\n        if (program.day_of_week[currentDay] !== '1') continue;\n    }\n    \n    var triggerType = program.trigger_type;\n    var lastIrrigationTime = global.get('last_irrigation_' + program.program_number) || 0;\n    \n    if (triggerType === 'solar') {\n        // 일사량 기반 트리거 (DB: solar_threshold)\n        if (program.solar_threshold && accumulatedSolar >= program.solar_threshold) {\n            triggeredProgram = program;\n            global.set('accumulated_solar', 0);\n            node.status({ fill: 'green', shape: 'dot', text: '일사량 트리거: P' + program.program_number });\n            break;\n        }\n    } else if (triggerType === 'interval') {\n        // 시간 간격 기반 트리거 (DB: interval_minutes)\n        var elapsedMinutes = (now.getTime() - lastIrrigationTime) / 60000;\n        if (program.interval_minutes && elapsedMinutes >= program.interval_minutes) {\n            triggeredProgram = program;\n            node.status({ fill: 'green', shape: 'dot', text: '시간간격 트리거: P' + program.program_number });\n            break;\n        }\n    } else if (triggerType === 'schedule') {\n        // 고정 시간 기반 트리거 (DB: schedule_times = JSON 배열 '[\"08:00\",\"12:00\"]')\n        var scheduleTimes = [];\n        try { scheduleTimes = JSON.parse(program.schedule_times || '[]'); } catch(e) {}\n        var matched = false;\n        for (var t = 0; t < scheduleTimes.length; t++) {\n            if (scheduleTimes[t] === currentTimeStr) { matched = true; break; }\n        }\n        if (matched) {\n            var lastKey = global.get('last_schedule_trigger_' + program.program_number) || '';\n            var todayKey = now.toISOString().slice(0, 10) + '_' + currentTimeStr;\n            if (lastKey !== todayKey) {\n                global.set('last_schedule_trigger_' + program.program_number, todayKey);\n                triggeredProgram = program;\n                node.status({ fill: 'green', shape: 'dot', text: '고정시간 트리거: P' + program.program_number });\n                break;\n            }\n        }\n    }\n}\n\nif (triggeredProgram) {\n    global.set('last_irrigation_' + triggeredProgram.program_number, now.getTime());\n    return [{ payload: triggeredProgram, topic: 'irrigation_trigger' }, null];\n} else {\n    node.status({ fill: 'grey', shape: 'ring', text: '대기 중 - ' + currentTimeStr });\n    return [null, { payload: '트리거 조건 미충족' }];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 140,
        "wires": [
            ["f3_link_out"],
            ["f3_debug_no_trigger"]
        ]
    },
    {
        "id": "f3_link_out",
        "type": "link out",
        "z": "f3_tab",
        "name": "관수 시퀀스로 전달",
        "mode": "link",
        "links": [
            "f4_link_in"
        ],
        "x": 795,
        "y": 120,
        "wires": []
    },
    {
        "id": "f3_debug_no_trigger",
        "type": "debug",
        "z": "f3_tab",
        "name": "트리거 없음",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 180,
        "wires": []
    },

    {
        "id": "f4_tab",
        "type": "tab",
        "label": "관수 시퀀스",
        "disabled": false,
        "info": "5단계 관수 시퀀스 상태 머신"
    },
    {
        "id": "f4_comment",
        "type": "comment",
        "z": "f4_tab",
        "name": "5단계 관수 시퀀스 상태 머신",
        "info": "관수 시퀀스 5단계:\nSTEP 1: 원수 펌프 ON → 3초 대기\nSTEP 2: 양액 혼합 (목표 EC/pH 설정) → 믹서 ON → EC/pH 도달 대기 (최대 60초)\nSTEP 3: 양액 펌프 ON\nSTEP 4: 밸브 순차 개방 (각 설정 시간만큼), 유량 추적\nSTEP 5: 전체 완료 → 모든 펌프/믹서 OFF → 실행 기록 POST\n\nFlow Context에 현재 상태를 저장하며, 장비 상태 수집 플로우에서 읽어갑니다.",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "f4_link_in",
        "type": "link in",
        "z": "f4_tab",
        "name": "관수 트리거 수신",
        "links": [
            "f3_link_out"
        ],
        "x": 95,
        "y": 140,
        "wires": [
            ["f4_state_machine"]
        ]
    },
    {
        "id": "f4_state_machine",
        "type": "function",
        "z": "f4_tab",
        "name": "관수 상태 머신",
        "func": "// 5단계 관수 시퀀스 상태 머신\n// DB 필드: program_number, set_ec, set_ph, valves[].valve_number, valves[].is_active, valves[].duration_seconds\n\nvar VALVE_COUNT = 14;\nvar program = msg.payload;\nvar currentStep = global.get('irrigation_step') || 0;\nvar now = Date.now();\n\n// 새 프로그램 트리거 시 초기화\nif (msg.topic === 'irrigation_trigger' && currentStep === 0) {\n    // 활성 밸브만 필터링 (is_active=1, valve_number 1-based)\n    var allValves = program.valves || [];\n    var activeValves = [];\n    for (var v = 0; v < allValves.length; v++) {\n        if (allValves[v].is_active) activeValves.push(allValves[v]);\n    }\n    program._activeValves = activeValves;\n    \n    global.set('irrigation_program', program);\n    global.set('irrigation_step', 1);\n    global.set('step_start_time', now);\n    global.set('current_valve_index', 0);\n    global.set('operating_state', 'IRRIGATING');\n    global.set('active_program', program.program_number);\n    global.set('irrigation_total_flow', 0);\n    global.set('irrigation_valve_flows', []);\n    \n    var pumpState = { raw_pump: true, nutrient_pump: false };\n    global.set('pump_state', pumpState);\n    \n    node.status({ fill: 'blue', shape: 'dot', text: 'STEP 1: 원수 펌프 ON' });\n    \n    msg.payload = {\n        operating_state: 'IRRIGATING',\n        active_program: program.program_number,\n        valve_states: global.get('valve_states') || new Array(VALVE_COUNT).fill(false),\n        pump_state: pumpState,\n        mixer_state: false\n    };\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.delay = 3000;\n    msg.nextStep = 2;\n    return msg;\n}\n\nprogram = global.get('irrigation_program');\nif (!program) {\n    node.status({ fill: 'grey', shape: 'ring', text: '프로그램 없음' });\n    return null;\n}\n\ncurrentStep = global.get('irrigation_step');\n\nif (currentStep === 2) {\n    // STEP 2: 양액 혼합 - 믹서 ON\n    global.set('mixer_state', true);\n    var targetEc = program.set_ec || 2.0;\n    var targetPh = program.set_ph || 6.0;\n    \n    // 실배포: 센서 값 비교 후 60초 타임아웃. 시뮬레이션: 5초 대기 후 진행\n    var stepStart = global.get('step_start_time') || now;\n    var elapsed = (now - stepStart) / 1000;\n    if (elapsed < 5) {\n        // 아직 혼합 중 — 다시 확인\n        msg.delay = 2000;\n        msg.nextStep = 2;\n    } else {\n        // 혼합 완료 → STEP 3\n        global.set('irrigation_step', 3);\n        msg.delay = 1000;\n        msg.nextStep = 3;\n    }\n    \n    node.status({ fill: 'blue', shape: 'dot', text: 'STEP 2: 양액 혼합 (EC:' + targetEc + ' pH:' + targetPh + ') ' + Math.round(elapsed) + 's' });\n    \n    msg.payload = {\n        operating_state: 'IRRIGATING',\n        active_program: global.get('active_program'),\n        valve_states: global.get('valve_states') || new Array(VALVE_COUNT).fill(false),\n        pump_state: global.get('pump_state'),\n        mixer_state: true\n    };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return msg;\n}\n\nif (currentStep === 3) {\n    var pumpState3 = { raw_pump: true, nutrient_pump: true };\n    global.set('pump_state', pumpState3);\n    global.set('irrigation_step', 4);\n    global.set('current_valve_index', 0);\n    global.set('step_start_time', now);\n    \n    node.status({ fill: 'blue', shape: 'dot', text: 'STEP 3: 양액 펌프 ON' });\n    \n    msg.payload = {\n        operating_state: 'IRRIGATING',\n        active_program: global.get('active_program'),\n        valve_states: global.get('valve_states') || new Array(VALVE_COUNT).fill(false),\n        pump_state: pumpState3,\n        mixer_state: true\n    };\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.delay = 1000;\n    msg.nextStep = 4;\n    return msg;\n}\n\nif (currentStep === 4) {\n    // STEP 4: 활성 밸브 순차 개방\n    var activeValves = program._activeValves || [];\n    var currentValveIdx = global.get('current_valve_index') || 0;\n    \n    if (currentValveIdx >= activeValves.length) {\n        global.set('irrigation_step', 5);\n        msg.delay = 500;\n        msg.nextStep = 5;\n        msg.payload = {\n            operating_state: 'IRRIGATING',\n            active_program: global.get('active_program'),\n            valve_states: new Array(VALVE_COUNT).fill(false),\n            pump_state: global.get('pump_state'),\n            mixer_state: global.get('mixer_state')\n        };\n        msg.headers = { 'Content-Type': 'application/json' };\n        node.status({ fill: 'blue', shape: 'dot', text: 'STEP 4: 모든 밸브 완료' });\n        return msg;\n    }\n    \n    var currentValve = activeValves[currentValveIdx];\n    // valve_number는 1-based → 배열 인덱스는 0-based\n    var valveArrayIdx = (currentValve.valve_number || 1) - 1;\n    var duration = (currentValve.duration_seconds || 60) * 1000;\n    \n    var valveStates = new Array(VALVE_COUNT).fill(false);\n    valveStates[valveArrayIdx] = true;\n    global.set('valve_states', valveStates);\n    global.set('current_valve', currentValve.valve_number);\n    \n    // 유량 누적: 유속(L/min) × 시간(분)\n    var sensorNow = global.get('latest_sensor_data') || {};\n    var totalFlow = global.get('irrigation_total_flow') || 0;\n    var durationMin = (currentValve.duration_seconds || 60) / 60;\n    var valveFlowLiters = (sensorNow.supply_flow || 0) * durationMin;\n    totalFlow += valveFlowLiters;\n    global.set('irrigation_total_flow', totalFlow);\n    \n    // 밸브별 유량 기록\n    var valveFlows = global.get('irrigation_valve_flows') || [];\n    valveFlows.push({ valve_number: currentValve.valve_number, flow_liters: Math.round(valveFlowLiters * 100) / 100, duration_seconds: currentValve.duration_seconds || 60 });\n    global.set('irrigation_valve_flows', valveFlows);\n    \n    global.set('current_valve_index', currentValveIdx + 1);\n    global.set('step_start_time', now);\n    \n    node.status({ fill: 'green', shape: 'dot', text: 'STEP 4: 밸브 ' + currentValve.valve_number + ' (' + (currentValveIdx + 1) + '/' + activeValves.length + ')' });\n    \n    msg.payload = {\n        operating_state: 'IRRIGATING',\n        active_program: global.get('active_program'),\n        valve_states: valveStates,\n        pump_state: global.get('pump_state'),\n        mixer_state: global.get('mixer_state'),\n        current_valve: currentValve.valve_number\n    };\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.delay = duration;\n    msg.nextStep = 4;\n    return msg;\n}\n\nif (currentStep === 5) {\n    global.set('valve_states', new Array(VALVE_COUNT).fill(false));\n    global.set('pump_state', { raw_pump: false, nutrient_pump: false });\n    global.set('mixer_state', false);\n    global.set('operating_state', 'STOPPED');\n    global.set('active_program', null);\n    global.set('irrigation_step', 0);\n    global.set('current_valve_index', 0);\n    global.set('current_valve', 0);\n    \n    var executionRecord = {\n        program_id: program.program_number,\n        program_name: 'P' + program.program_number,\n        completed_at: new Date().toISOString(),\n        total_flow: global.get('irrigation_total_flow') || 0,\n        valve_flows: global.get('irrigation_valve_flows') || []\n    };\n    \n    var dailyRecords = global.get('daily_irrigation_records') || [];\n    dailyRecords.push(executionRecord);\n    global.set('daily_irrigation_records', dailyRecords);\n    global.set('irrigation_total_flow', 0);\n    global.set('irrigation_valve_flows', []);\n    \n    node.status({ fill: 'green', shape: 'ring', text: 'STEP 5: 관수 완료 - P' + program.program_number });\n    \n    msg.payload = {\n        operating_state: 'STOPPED',\n        active_program: null,\n        valve_states: new Array(VALVE_COUNT).fill(false),\n        pump_state: { raw_pump: false, nutrient_pump: false },\n        mixer_state: false,\n        current_valve: 0\n    };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// 초기화 시 관수 상태 리셋\nglobal.set('irrigation_step', 0);\nglobal.set('current_valve_index', 0);\nglobal.set('irrigation_total_flow', 0);\nglobal.set('irrigation_valve_flows', []);\nglobal.set('operating_state', global.get('operating_state') || 'STOPPED');",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            ["f4_http_status", "f4_delay"]
        ]
    },
    {
        "id": "f4_http_status",
        "type": "http request",
        "z": "f4_tab",
        "name": "POST status-update",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/status-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 100,
        "wires": [
            ["f4_debug"]
        ]
    },
    {
        "id": "f4_delay",
        "type": "delay",
        "z": "f4_tab",
        "name": "시퀀스 대기",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 200,
        "wires": [
            ["f4_next_step"]
        ]
    },
    {
        "id": "f4_next_step",
        "type": "function",
        "z": "f4_tab",
        "name": "다음 단계 진행",
        "func": "// 다음 단계로 진행\nvar nextStep = msg.nextStep;\nif (nextStep) {\n    global.set('irrigation_step', nextStep);\n    msg.topic = 'next_step';\n    msg.payload = global.get('irrigation_program');\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 200,
        "wires": [
            ["f4_state_machine"]
        ]
    },
    {
        "id": "f4_debug",
        "type": "debug",
        "z": "f4_tab",
        "name": "시퀀스 상태",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 100,
        "wires": []
    },

    {
        "id": "f5_tab",
        "type": "tab",
        "label": "경보 처리 (RPi alarmService에서 처리)",
        "disabled": true,
        "info": "센서 임계값 초과 시 Express에 경보 전달"
    },
    {
        "id": "f5_comment",
        "type": "comment",
        "z": "f5_tab",
        "name": "센서 임계값 초과 시 Express에 경보 전달",
        "info": "센서 데이터의 임계값을 3초 간격으로 확인합니다.\n임계값 초과 시 Express 내부 API(/internal/alarm)에 경보를 전달합니다.\n동일 경보의 중복 발생을 방지하기 위해 Flow Context로 경보 상태를 관리합니다.\n\n확인 항목:\n- EC 상한/하한\n- pH 상한/하한\n- 온도 상한/하한",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "f5_inject",
        "type": "inject",
        "z": "f5_tab",
        "name": "3초 간격 트리거",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            ["f5_get_config"]
        ]
    },
    {
        "id": "f5_get_config",
        "type": "http request",
        "z": "f5_tab",
        "name": "GET config",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/config",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 140,
        "wires": [
            ["f5_check_thresholds"]
        ]
    },
    {
        "id": "f5_check_thresholds",
        "type": "function",
        "z": "f5_tab",
        "name": "임계값 확인",
        "func": "// 센서 임계값 확인\n// 글로벌 컨텍스트에서 최신 센서 데이터 읽기\n\nvar response = msg.payload;\nvar config = (response && response.data) ? response.data : response;\nif (!config) {\n    node.warn('설정 정보를 가져올 수 없습니다.');\n    return null;\n}\n\nvar sensorData = global.get('latest_sensor_data');\nif (!sensorData) {\n    node.status({ fill: 'grey', shape: 'ring', text: '센서 데이터 없음' });\n    return null;\n}\n\n// 임계값 기본값 설정\nvar thresholds = {\n    alarm_ec_upper: config.alarm_ec_upper || 3.5,\n    alarm_ec_lower: config.alarm_ec_lower || 0.3,\n    alarm_ph_upper: config.alarm_ph_upper || 8.5,\n    alarm_ph_lower: config.alarm_ph_lower || 4.5,\n    alarm_temp_upper: config.alarm_temp_upper || 40,\n    alarm_temp_lower: config.alarm_temp_lower || 5\n};\n\n// 현재 경보 상태 (중복 방지)\nvar activeAlarms = global.get('active_alarms') || {};\nvar alarms = [];\n\n// EC 상한 확인\nif (sensorData.ec > thresholds.alarm_ec_upper) {\n    if (!activeAlarms['EC_HIGH']) {\n        alarms.push({\n            alarm_type: 'EC_HIGH',\n            alarm_value: sensorData.ec,\n            threshold_value: thresholds.alarm_ec_upper,\n            message: 'EC 상한 초과: 현재 ' + sensorData.ec + ' (임계값: ' + thresholds.alarm_ec_upper + ')'\n        });\n        activeAlarms['EC_HIGH'] = true;\n    }\n} else {\n    activeAlarms['EC_HIGH'] = false;\n}\n\n// EC 하한 확인\nif (sensorData.ec < thresholds.alarm_ec_lower) {\n    if (!activeAlarms['EC_LOW']) {\n        alarms.push({\n            alarm_type: 'EC_LOW',\n            alarm_value: sensorData.ec,\n            threshold_value: thresholds.alarm_ec_lower,\n            message: 'EC 하한 미달: 현재 ' + sensorData.ec + ' (임계값: ' + thresholds.alarm_ec_lower + ')'\n        });\n        activeAlarms['EC_LOW'] = true;\n    }\n} else {\n    activeAlarms['EC_LOW'] = false;\n}\n\n// pH 상한 확인\nif (sensorData.ph > thresholds.alarm_ph_upper) {\n    if (!activeAlarms['PH_HIGH']) {\n        alarms.push({\n            alarm_type: 'PH_HIGH',\n            alarm_value: sensorData.ph,\n            threshold_value: thresholds.alarm_ph_upper,\n            message: 'pH 상한 초과: 현재 ' + sensorData.ph + ' (임계값: ' + thresholds.alarm_ph_upper + ')'\n        });\n        activeAlarms['PH_HIGH'] = true;\n    }\n} else {\n    activeAlarms['PH_HIGH'] = false;\n}\n\n// pH 하한 확인\nif (sensorData.ph < thresholds.alarm_ph_lower) {\n    if (!activeAlarms['PH_LOW']) {\n        alarms.push({\n            alarm_type: 'PH_LOW',\n            alarm_value: sensorData.ph,\n            threshold_value: thresholds.alarm_ph_lower,\n            message: 'pH 하한 미달: 현재 ' + sensorData.ph + ' (임계값: ' + thresholds.alarm_ph_lower + ')'\n        });\n        activeAlarms['PH_LOW'] = true;\n    }\n} else {\n    activeAlarms['PH_LOW'] = false;\n}\n\n// 온도 상한 확인\nif (sensorData.indoor_temp > thresholds.alarm_temp_upper) {\n    if (!activeAlarms['TEMP_HIGH']) {\n        alarms.push({\n            alarm_type: 'TEMP_HIGH',\n            alarm_value: sensorData.indoor_temp,\n            threshold_value: thresholds.alarm_temp_upper,\n            message: '온도 상한 초과: 현재 ' + sensorData.indoor_temp + '°C (임계값: ' + thresholds.alarm_temp_upper + '°C)'\n        });\n        activeAlarms['TEMP_HIGH'] = true;\n    }\n} else {\n    activeAlarms['TEMP_HIGH'] = false;\n}\n\n// 온도 하한 확인\nif (sensorData.indoor_temp < thresholds.alarm_temp_lower) {\n    if (!activeAlarms['TEMP_LOW']) {\n        alarms.push({\n            alarm_type: 'TEMP_LOW',\n            alarm_value: sensorData.indoor_temp,\n            threshold_value: thresholds.alarm_temp_lower,\n            message: '온도 하한 미달: 현재 ' + sensorData.indoor_temp + '°C (임계값: ' + thresholds.alarm_temp_lower + '°C)'\n        });\n        activeAlarms['TEMP_LOW'] = true;\n    }\n} else {\n    activeAlarms['TEMP_LOW'] = false;\n}\n\nglobal.set('active_alarms', activeAlarms);\n\nif (alarms.length > 0) {\n    node.status({ fill: 'red', shape: 'dot', text: '경보 ' + alarms.length + '건 발생' });\n    // 각 경보를 개별 메시지로 전송\n    var messages = alarms.map(function(alarm) {\n        return {\n            payload: alarm,\n            headers: { 'Content-Type': 'application/json' }\n        };\n    });\n    // 첫 번째 경보만 전송 (순차 처리)\n    msg.payload = alarms[0];\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.alarms = alarms;\n    return msg;\n} else {\n    node.status({ fill: 'green', shape: 'ring', text: '정상 범위 내' });\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// 경보 상태 초기화\nglobal.set('active_alarms', {});",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            ["f5_http_alarm"]
        ]
    },
    {
        "id": "f5_http_alarm",
        "type": "http request",
        "z": "f5_tab",
        "name": "POST alarm",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/alarm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 780,
        "y": 140,
        "wires": [
            ["f5_debug"]
        ]
    },
    {
        "id": "f5_debug",
        "type": "debug",
        "z": "f5_tab",
        "name": "경보 전송 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 140,
        "wires": []
    },

    {
        "id": "f6_tab",
        "type": "tab",
        "label": "비상정지",
        "disabled": false,
        "info": "외부 비상정지/수동 명령 수신"
    },
    {
        "id": "f6_comment",
        "type": "comment",
        "z": "f6_tab",
        "name": "외부 비상정지/수동 명령 수신",
        "info": "비상정지:\nGET /emergency-stop 요청 시 모든 밸브/펌프/믹서를 OFF로 설정하고\noperating_state를 EMERGENCY로 변경합니다.\n\n수동 밸브 제어:\nPOST /manual-valve 요청으로 개별 밸브를 수동 제어합니다.",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "f6_http_in_estop",
        "type": "http in",
        "z": "f6_tab",
        "name": "GET /emergency-stop",
        "url": "/emergency-stop",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            ["f6_emergency_func"]
        ]
    },
    {
        "id": "f6_emergency_func",
        "type": "function",
        "z": "f6_tab",
        "name": "비상정지 실행",
        "func": "// 비상정지 실행\n// 모든 밸브 OFF, 모든 펌프 OFF, 믹서 OFF\n\nvar VALVE_COUNT = 14;\n\n// 모든 장비 OFF\nvar valveStates = new Array(VALVE_COUNT).fill(false);\nvar pumpState = { raw_pump: false, nutrient_pump: false };\nvar mixerState = false;\n\n// Flow Context 업데이트\nglobal.set('valve_states', valveStates);\nglobal.set('pump_state', pumpState);\nglobal.set('mixer_state', mixerState);\nglobal.set('operating_state', 'EMERGENCY');\nglobal.set('active_program', null);\n\n// 진행 중인 관수 시퀀스 초기화\nglobal.set('irrigation_step', 0);\nglobal.set('current_valve_index', 0);\nglobal.set('irrigation_total_flow', 0);\n\nnode.status({ fill: 'red', shape: 'dot', text: '비상정지 실행됨' });\nnode.warn('비상정지가 실행되었습니다. 모든 장비가 OFF 되었습니다.');\n\n// Express에 상태 업데이트 전송용 메시지\nvar statusMsg = {\n    payload: {\n        operating_state: 'EMERGENCY',\n        active_program: null,\n        valve_states: valveStates,\n        pump_state: pumpState,\n        mixer_state: mixerState\n    },\n    headers: { 'Content-Type': 'application/json' }\n};\n\n// HTTP 응답용 메시지\nvar responseMsg = {\n    payload: {\n        success: true,\n        message: '비상정지 실행됨',\n        timestamp: new Date().toISOString()\n    },\n    res: msg.res\n};\n\nreturn [statusMsg, responseMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            ["f6_http_status_update"],
            ["f6_http_response_estop"]
        ]
    },
    {
        "id": "f6_http_status_update",
        "type": "http request",
        "z": "f6_tab",
        "name": "POST status-update",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/status-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 120,
        "wires": [
            ["f6_debug_estop"]
        ]
    },
    {
        "id": "f6_http_response_estop",
        "type": "http response",
        "z": "f6_tab",
        "name": "비상정지 응답",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "f6_debug_estop",
        "type": "debug",
        "z": "f6_tab",
        "name": "비상정지 상태 업데이트 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 120,
        "wires": []
    },
    {
        "id": "f6_http_in_manual",
        "type": "http in",
        "z": "f6_tab",
        "name": "POST /manual-valve",
        "url": "/manual-valve",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 300,
        "wires": [
            ["f6_manual_valve_func"]
        ]
    },
    {
        "id": "f6_manual_valve_func",
        "type": "function",
        "z": "f6_tab",
        "name": "수동 밸브 제어",
        "func": "// 수동 밸브 제어\n// body: { valve_index: number, state: boolean }\n\nvar VALVE_COUNT = 14;\nvar body = msg.payload;\n\nif (body.valve_index === undefined || body.state === undefined) {\n    msg.payload = {\n        success: false,\n        message: 'valve_index와 state가 필요합니다.'\n    };\n    msg.statusCode = 400;\n    return [null, msg];\n}\n\nvar valveIndex = parseInt(body.valve_index);\nvar state = Boolean(body.state);\n\nif (valveIndex < 0 || valveIndex >= VALVE_COUNT) {\n    msg.payload = {\n        success: false,\n        message: '유효하지 않은 밸브 인덱스입니다. (0~' + (VALVE_COUNT - 1) + ')'\n    };\n    msg.statusCode = 400;\n    return [null, msg];\n}\n\n// Flow Context에서 밸브 상태 읽기\nvar valveStates = global.get('valve_states') || new Array(VALVE_COUNT).fill(false);\nvalveStates[valveIndex] = state;\nglobal.set('valve_states', valveStates);\n\nvar stateText = state ? '열림' : '닫힘';\nnode.status({ fill: state ? 'green' : 'grey', shape: 'dot', text: '밸브 ' + (valveIndex + 1) + ': ' + stateText });\n\n// Express에 상태 업데이트 전송\nvar statusMsg = {\n    payload: {\n        operating_state: global.get('operating_state') || 'MANUAL',\n        active_program: null,\n        valve_states: valveStates,\n        pump_state: global.get('pump_state') || { raw_pump: false, nutrient_pump: false },\n        mixer_state: global.get('mixer_state') || false\n    },\n    headers: { 'Content-Type': 'application/json' }\n};\n\n// HTTP 응답\nvar responseMsg = {\n    payload: {\n        success: true,\n        message: '밸브 ' + (valveIndex + 1) + ' ' + stateText,\n        valve_index: valveIndex,\n        state: state\n    },\n    res: msg.res\n};\n\nreturn [statusMsg, responseMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            ["f6_http_manual_status"],
            ["f6_http_response_manual"]
        ]
    },
    {
        "id": "f6_http_manual_status",
        "type": "http request",
        "z": "f6_tab",
        "name": "POST status-update",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/status-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 280,
        "wires": [
            ["f6_debug_manual"]
        ]
    },
    {
        "id": "f6_http_response_manual",
        "type": "http response",
        "z": "f6_tab",
        "name": "수동 제어 응답",
        "statusCode": "200",
        "headers": {},
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "f6_debug_manual",
        "type": "debug",
        "z": "f6_tab",
        "name": "수동 제어 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },

    {
        "id": "f7_tab",
        "type": "tab",
        "label": "일일집계",
        "disabled": false,
        "info": "매일 자정에 일일 운영 실적 집계"
    },
    {
        "id": "f7_comment",
        "type": "comment",
        "z": "f7_tab",
        "name": "매일 자정에 일일 운영 실적 집계",
        "info": "매일 자정(00:00)에 하루 동안의 운영 실적을 집계합니다.\n집계 항목:\n- 프로그램별 실행 횟수 및 총 유량\n- 전체 관수 횟수\n- 센서 평균값\n\n집계 결과는 Express 내부 API(/internal/daily-summary)에 저장됩니다.",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7_inject",
        "type": "inject",
        "z": "f7_tab",
        "name": "매일 자정 트리거",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            ["f7_get_summary_data"]
        ]
    },
    {
        "id": "f7_get_summary_data",
        "type": "http request",
        "z": "f7_tab",
        "name": "GET daily-summary-data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/daily-summary-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 140,
        "wires": [
            ["f7_calc_summary"]
        ]
    },
    {
        "id": "f7_calc_summary",
        "type": "function",
        "z": "f7_tab",
        "name": "집계 계산",
        "func": "// 일일 운영 실적 집계 계산\n\nvar response = msg.payload;\nvar data = (response && response.data) ? response.data : response;\nif (!data) {\n    node.warn('집계 데이터를 가져올 수 없습니다.');\n    return null;\n}\n\nvar now = new Date();\nvar yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\nvar dateStr = yesterday.toISOString().slice(0, 10);\n\n// Node-RED 측 관수 기록 (Flow Context)\nvar dailyRecords = global.get('daily_irrigation_records') || [];\n\n// 프로그램별 집계\nvar programStats = {};\nvar totalFlow = 0;\nvar totalIrrigationCount = dailyRecords.length;\n\nfor (var i = 0; i < dailyRecords.length; i++) {\n    var record = dailyRecords[i];\n    var progId = record.program_id || 'unknown';\n    \n    if (!programStats[progId]) {\n        programStats[progId] = {\n            program_id: progId,\n            program_name: record.program_name || progId,\n            execution_count: 0,\n            total_flow: 0\n        };\n    }\n    \n    programStats[progId].execution_count++;\n    programStats[progId].total_flow += record.total_flow || 0;\n    totalFlow += record.total_flow || 0;\n    \n    // 밸브별 유량 집계\n    if (Array.isArray(record.valve_flows)) {\n        if (!programStats[progId].valve_flows) programStats[progId].valve_flows = {};\n        for (var vi = 0; vi < record.valve_flows.length; vi++) {\n            var vf = record.valve_flows[vi];\n            var vKey = vf.valve_number;\n            if (!programStats[progId].valve_flows[vKey]) {\n                programStats[progId].valve_flows[vKey] = { valve_number: vKey, flow_liters: 0, run_count: 0 };\n            }\n            programStats[progId].valve_flows[vKey].flow_liters += vf.flow_liters || 0;\n            programStats[progId].valve_flows[vKey].run_count++;\n        }\n    }\n}\n\n// 프로그램별 통계를 배열로 변환\nvar programStatsArray = Object.keys(programStats).map(function(key) {\n    var stat = programStats[key];\n    // valve_flows 객체를 배열로 변환\n    if (stat.valve_flows) {\n        stat.valve_flows = Object.keys(stat.valve_flows).map(function(vk) { return stat.valve_flows[vk]; });\n    }\n    return stat;\n});\n\n// Express에서 받은 센서 평균 데이터 포함\nvar summary = {\n    date: dateStr,\n    total_irrigation_count: totalIrrigationCount,\n    total_flow: Math.round(totalFlow * 100) / 100,\n    program_stats: programStatsArray,\n    sensor_averages: data.sensor_averages || {},\n    created_at: now.toISOString()\n};\n\n// 일일 기록 리셋\nglobal.set('daily_irrigation_records', []);\n// 누적 일사량도 리셋\nglobal.set('accumulated_solar', 0);\n\nnode.status({ fill: 'green', shape: 'dot', text: dateStr + ' 집계 완료: ' + totalIrrigationCount + '회 관수' });\n\nmsg.payload = summary;\nmsg.headers = { 'Content-Type': 'application/json' };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            ["f7_post_summary"]
        ]
    },
    {
        "id": "f7_post_summary",
        "type": "http request",
        "z": "f7_tab",
        "name": "POST daily-summary",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/daily-summary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 140,
        "wires": [
            ["f7_debug"]
        ]
    },
    {
        "id": "f7_debug",
        "type": "debug",
        "z": "f7_tab",
        "name": "일일집계 저장 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 140,
        "wires": []
    },

    {
        "id": "f8_tab",
        "type": "tab",
        "label": "Heartbeat (RPi heartbeatService에서 처리)",
        "disabled": true,
        "info": "60초 간격 온라인 상태 보고 (항상 AWS 전송)"
    },
    {
        "id": "f8_comment",
        "type": "comment",
        "z": "f8_tab",
        "name": "60초 간격 온라인 상태 보고 (항상 AWS 전송)",
        "info": "60초 간격으로 AWS IoT Core에 heartbeat 메시지를 발행합니다.\n토픽: farm/{farmId}/heartbeat\n\ncpu_temp, disk_usage는 실배포 시 os 모듈로 교체해야 합니다.",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "f8_inject",
        "type": "inject",
        "z": "f8_tab",
        "name": "60초 간격 트리거",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            ["f8_heartbeat_func"]
        ]
    },
    {
        "id": "f8_heartbeat_func",
        "type": "function",
        "z": "f8_tab",
        "name": "Heartbeat 생성",
        "func": "// Heartbeat 메시지 생성\n// cpu_temp, disk_usage는 실배포 시 os 모듈로 교체\n\nvar farmId = env.get('FARM_ID') || global.get('FARM_ID') || 'default-farm';\n\n// Node-RED 시작 시간 기록 (최초 실행 시)\nvar startTime = global.get('node_start_time');\nif (!startTime) {\n    startTime = Date.now();\n    global.set('node_start_time', startTime);\n}\nvar uptimeSec = Math.floor((Date.now() - startTime) / 1000);\n\nvar heartbeat = {\n    farmId: farmId,\n    timestamp: new Date().toISOString(),\n    uptime: uptimeSec,\n    cpu_temp: 0,\n    disk_usage: 0,\n    operating_state: global.get('operating_state') || 'STOPPED',\n    memory_usage: 0\n};\n\nmsg.payload = JSON.stringify(heartbeat);\nmsg.topic = 'farm/' + farmId + '/heartbeat';\n\nnode.status({ fill: 'green', shape: 'dot', text: 'uptime: ' + uptimeSec + 's' });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 140,
        "wires": [
            ["f8_mqtt_out"]
        ]
    },
    {
        "id": "f8_mqtt_out",
        "type": "mqtt out",
        "z": "f8_tab",
        "name": "AWS IoT Heartbeat",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_aws",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "f8_debug",
        "type": "debug",
        "z": "f8_tab",
        "name": "Heartbeat 전송 확인",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },

    {
        "id": "f9_tab",
        "type": "tab",
        "label": "일일집계 전송 (RPi dailySyncService에서 처리)",
        "disabled": true,
        "info": "매일 00:05에 전일 집계를 클라우드로 전송 (항상 AWS 전송)"
    },
    {
        "id": "f9_comment",
        "type": "comment",
        "z": "f9_tab",
        "name": "매일 00:05에 전일 집계를 클라우드로 전송 (항상 AWS 전송)",
        "info": "매일 00:05에 전일 일일집계 데이터를 Express에서 조회한 후\nAWS IoT Core MQTT로 클라우드에 전송합니다.\n토픽: farm/{farmId}/daily-summary",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "f9_inject",
        "type": "inject",
        "z": "f9_tab",
        "name": "매일 00:05 트리거",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "05 00 * * *",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            ["f9_calc_yesterday"]
        ]
    },
    {
        "id": "f9_calc_yesterday",
        "type": "function",
        "z": "f9_tab",
        "name": "어제 날짜 계산",
        "func": "// 어제 날짜 계산\nvar now = new Date();\nvar yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\n\nvar year = yesterday.getFullYear();\nvar month = ('0' + (yesterday.getMonth() + 1)).slice(-2);\nvar day = ('0' + yesterday.getDate()).slice(-2);\nvar dateStr = year + '-' + month + '-' + day;\n\nmsg.yesterday = dateStr;\nmsg.url = 'http://localhost:3001/internal/daily-summary?date=' + dateStr;\n\nnode.status({ fill: 'blue', shape: 'dot', text: '어제 날짜: ' + dateStr });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            ["f9_get_summary"]
        ]
    },
    {
        "id": "f9_get_summary",
        "type": "http request",
        "z": "f9_tab",
        "name": "GET daily-summary",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 140,
        "wires": [
            ["f9_prepare_mqtt"]
        ]
    },
    {
        "id": "f9_prepare_mqtt",
        "type": "function",
        "z": "f9_tab",
        "name": "MQTT 전송 준비",
        "func": "// 일일집계 데이터를 MQTT로 전송 준비\n\nvar farmId = env.get('FARM_ID') || global.get('FARM_ID') || 'default-farm';\nvar response = msg.payload;\nvar summaryData = (response && response.data) ? response.data : response;\n\nif (!summaryData || (typeof summaryData === 'object' && Object.keys(summaryData).length === 0)) {\n    node.warn('전일 집계 데이터가 없습니다: ' + msg.yesterday);\n    node.status({ fill: 'yellow', shape: 'ring', text: '전일 집계 없음: ' + msg.yesterday });\n    return null;\n}\n\n// farmId 추가\nsummaryData.farmId = farmId;\nsummaryData.sent_at = new Date().toISOString();\n\nmsg.payload = JSON.stringify(summaryData);\nmsg.topic = 'farm/' + farmId + '/daily-summary';\n\nnode.status({ fill: 'green', shape: 'dot', text: '클라우드 전송: ' + msg.yesterday });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            ["f9_mqtt_out"]
        ]
    },
    {
        "id": "f9_mqtt_out",
        "type": "mqtt out",
        "z": "f9_tab",
        "name": "AWS IoT Daily Summary",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_aws",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "f9_debug",
        "type": "debug",
        "z": "f9_tab",
        "name": "집계 전송 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 220,
        "wires": []
    },

    {
        "id": "f10_tab",
        "type": "tab",
        "label": "원격 명령 수신",
        "disabled": false,
        "info": "AWS IoT에서 수신한 원격 제어 명령 처리"
    },
    {
        "id": "f10_comment",
        "type": "comment",
        "z": "f10_tab",
        "name": "AWS IoT에서 수신한 원격 제어 명령 처리",
        "info": "AWS IoT Core에서 수신한 원격 제어 명령을 처리합니다.\n토픽: farm/{farmId}/command\n\n명령 유형:\n- EMERGENCY_STOP: 비상정지 실행\n- START: 운영 시작\n- STOP: 운영 중지\n- MANUAL: 수동 밸브 제어\n\n처리 결과는 farm/{farmId}/command/ack 토픽으로 응답합니다.",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "f10_mqtt_in",
        "type": "mqtt in",
        "z": "f10_tab",
        "name": "원격 명령 구독",
        "topic": "farm/+/command",
        "qos": "1",
        "datatype": "utf8",
        "broker": "mqtt_broker_aws",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            ["f10_json_parse"]
        ]
    },
    {
        "id": "f10_json_parse",
        "type": "json",
        "z": "f10_tab",
        "name": "JSON 파싱",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 140,
        "wires": [
            ["f10_switch"]
        ]
    },
    {
        "id": "f10_switch",
        "type": "switch",
        "z": "f10_tab",
        "name": "명령 유형 분기",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "EMERGENCY_STOP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MANUAL",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 140,
        "wires": [
            ["f10_save_cmd"],
            ["f10_start_func"],
            ["f10_stop_func"],
            ["f10_manual_func"]
        ]
    },
    {
        "id": "f10_save_cmd",
        "type": "function",
        "z": "f10_tab",
        "name": "원본 명령 보존",
        "func": "// 비상정지 HTTP 호출 전에 원본 MQTT 명령을 보존\nmsg.originalPayload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 80,
        "wires": [
            ["f10_estop_http"]
        ]
    },
    {
        "id": "f10_estop_http",
        "type": "http request",
        "z": "f10_tab",
        "name": "비상정지 호출",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/emergency-stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 80,
        "wires": [
            ["f10_estop_ack"]
        ]
    },
    {
        "id": "f10_estop_ack",
        "type": "function",
        "z": "f10_tab",
        "name": "비상정지 ACK 생성",
        "func": "// 비상정지 명령 ACK 생성\nvar farmId = env.get('FARM_ID') || global.get('FARM_ID') || 'default-farm';\nvar originalCmd = msg.originalPayload || msg.payload;\n\nmsg.payload = JSON.stringify({\n    type: 'EMERGENCY_STOP',\n    command_id: originalCmd.command_id || null,\n    success: true,\n    message: '비상정지가 실행되었습니다.',\n    timestamp: new Date().toISOString()\n});\nmsg.topic = 'farm/' + farmId + '/command/ack';\n\nnode.status({ fill: 'red', shape: 'dot', text: '비상정지 ACK 전송' });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 80,
        "wires": [
            ["f10_mqtt_ack"]
        ]
    },
    {
        "id": "f10_start_func",
        "type": "function",
        "z": "f10_tab",
        "name": "운영 시작 처리",
        "func": "// 운영 시작 명령 처리\nvar VALVE_COUNT = 14;\nvar farmId = env.get('FARM_ID') || global.get('FARM_ID') || 'default-farm';\nvar cmd = msg.payload;\n\n// 운영 상태를 RUNNING으로 변경\nglobal.set('operating_state', 'RUNNING');\n\nnode.status({ fill: 'green', shape: 'dot', text: '운영 시작됨' });\n\n// Express에 상태 업데이트\nvar statusMsg = {\n    payload: {\n        operating_state: 'RUNNING',\n        active_program: global.get('active_program') || null,\n        valve_states: global.get('valve_states') || new Array(VALVE_COUNT).fill(false),\n        pump_state: global.get('pump_state') || { raw_pump: false, nutrient_pump: false },\n        mixer_state: global.get('mixer_state') || false\n    },\n    headers: { 'Content-Type': 'application/json' }\n};\n\n// ACK 메시지\nvar ackMsg = {\n    payload: JSON.stringify({\n        type: 'START',\n        command_id: cmd.command_id || null,\n        success: true,\n        message: '운영이 시작되었습니다.',\n        timestamp: new Date().toISOString()\n    }),\n    topic: 'farm/' + farmId + '/command/ack'\n};\n\nreturn [statusMsg, ackMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 140,
        "wires": [
            ["f10_http_status_update"],
            ["f10_mqtt_ack"]
        ]
    },
    {
        "id": "f10_stop_func",
        "type": "function",
        "z": "f10_tab",
        "name": "운영 중지 처리",
        "func": "// 운영 중지 명령 처리\nvar VALVE_COUNT = 14;\nvar farmId = env.get('FARM_ID') || global.get('FARM_ID') || 'default-farm';\nvar cmd = msg.payload;\n\n// 운영 상태를 STOPPED로 변경\nglobal.set('operating_state', 'STOPPED');\nglobal.set('active_program', null);\n\nnode.status({ fill: 'grey', shape: 'ring', text: '운영 중지됨' });\n\n// Express에 상태 업데이트\nvar statusMsg = {\n    payload: {\n        operating_state: 'STOPPED',\n        active_program: null,\n        valve_states: global.get('valve_states') || new Array(VALVE_COUNT).fill(false),\n        pump_state: global.get('pump_state') || { raw_pump: false, nutrient_pump: false },\n        mixer_state: global.get('mixer_state') || false\n    },\n    headers: { 'Content-Type': 'application/json' }\n};\n\n// ACK 메시지\nvar ackMsg = {\n    payload: JSON.stringify({\n        type: 'STOP',\n        command_id: cmd.command_id || null,\n        success: true,\n        message: '운영이 중지되었습니다.',\n        timestamp: new Date().toISOString()\n    }),\n    topic: 'farm/' + farmId + '/command/ack'\n};\n\nreturn [statusMsg, ackMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 200,
        "wires": [
            ["f10_http_status_update"],
            ["f10_mqtt_ack"]
        ]
    },
    {
        "id": "f10_manual_func",
        "type": "function",
        "z": "f10_tab",
        "name": "수동 제어 처리",
        "func": "// 수동 밸브 제어 명령 처리\nvar VALVE_COUNT = 14;\nvar farmId = env.get('FARM_ID') || global.get('FARM_ID') || 'default-farm';\nvar cmd = msg.payload;\n\nvar valveIndex = cmd.valve_index;\nvar state = cmd.state;\n\nif (valveIndex === undefined || state === undefined) {\n    var errorAck = {\n        payload: JSON.stringify({\n            type: 'MANUAL',\n            command_id: cmd.command_id || null,\n            success: false,\n            message: 'valve_index와 state가 필요합니다.',\n            timestamp: new Date().toISOString()\n        }),\n        topic: 'farm/' + farmId + '/command/ack'\n    };\n    return [null, errorAck];\n}\n\nvalveIndex = parseInt(valveIndex);\nstate = Boolean(state);\n\nif (valveIndex < 0 || valveIndex >= VALVE_COUNT) {\n    var errorAck2 = {\n        payload: JSON.stringify({\n            type: 'MANUAL',\n            command_id: cmd.command_id || null,\n            success: false,\n            message: '유효하지 않은 밸브 인덱스: ' + valveIndex,\n            timestamp: new Date().toISOString()\n        }),\n        topic: 'farm/' + farmId + '/command/ack'\n    };\n    return [null, errorAck2];\n}\n\n// 밸브 상태 업데이트\nvar valveStates = global.get('valve_states') || new Array(VALVE_COUNT).fill(false);\nvalveStates[valveIndex] = state;\nglobal.set('valve_states', valveStates);\n\nvar stateText = state ? '열림' : '닫힘';\nnode.status({ fill: state ? 'green' : 'grey', shape: 'dot', text: '밸브 ' + (valveIndex + 1) + ': ' + stateText });\n\n// Express에 상태 업데이트\nvar statusMsg = {\n    payload: {\n        operating_state: global.get('operating_state') || 'MANUAL',\n        active_program: null,\n        valve_states: valveStates,\n        pump_state: global.get('pump_state') || { raw_pump: false, nutrient_pump: false },\n        mixer_state: global.get('mixer_state') || false\n    },\n    headers: { 'Content-Type': 'application/json' }\n};\n\n// ACK 메시지\nvar ackMsg = {\n    payload: JSON.stringify({\n        type: 'MANUAL',\n        command_id: cmd.command_id || null,\n        success: true,\n        message: '밸브 ' + (valveIndex + 1) + ' ' + stateText,\n        valve_index: valveIndex,\n        state: state,\n        timestamp: new Date().toISOString()\n    }),\n    topic: 'farm/' + farmId + '/command/ack'\n};\n\nreturn [statusMsg, ackMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            ["f10_http_status_update"],
            ["f10_mqtt_ack"]
        ]
    },
    {
        "id": "f10_http_status_update",
        "type": "http request",
        "z": "f10_tab",
        "name": "POST status-update",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/internal/status-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1000,
        "y": 200,
        "wires": [
            ["f10_debug_status"]
        ]
    },
    {
        "id": "f10_mqtt_ack",
        "type": "mqtt out",
        "z": "f10_tab",
        "name": "명령 ACK 전송",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_aws",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "f10_debug_status",
        "type": "debug",
        "z": "f10_tab",
        "name": "명령 처리 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 200,
        "wires": []
    }
]
